In [ ]:
Booleans

In [ ]:
Example

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
print(bool("Hello"))
print(bool(15))

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

In [ ]:
def myFunction() :
  return True

print(myFunction())

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

In [ ]:
x = 200
print(isinstance(x, int))

In [ ]:
Exercise

In [ ]:
#What will be the result of the following syntax:
print(5 > 3)
#True

In [ ]:
#The statement below would print a Boolean value, which one?
print(10 > 9)
#True

In [ ]:
#The statement below would print a Boolean value, which one?
print(10 == 9)
#False

In [ ]:
#The statement below would print a Boolean value, which one?
print(10 < 9)
#False

In [ ]:
#The statement below would print a Boolean value, which one?
print(bool("abc"))
#True

In [ ]:
#The statement below would print a Boolean value, which one?
print(bool(0))
#False

In [ ]:
Operators

In [ ]:
Example

In [ ]:
print(10 + 5)

In [ ]:
print((6 + 3) - (6 + 3))

In [ ]:
print(100 + 5 * 3)

In [ ]:
print(5 + 4 - 7 + 3)

In [ ]:
Exercise

In [ ]:
#What will be the result of the following syntax:
x = 5
x += 3
print(x)
#8

In [ ]:
#Multiply 10 with 5, and print the result.
print(10*5)
#50

In [ ]:
#Divide 10 by 2, and print the result.
print(10/2)
#5

In [ ]:
#Use the correct membership operator to check if "apple" is present in the fruits object.
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

In [ ]:
#Use the correct comparison operator to check if 5 is not equal to 10.
if 5 != 10:
  print("5 and 10 is not equal")

In [ ]:
#Use the correct logical operator to check if at least one of two statements is True.
if 5 == 10 or 4 == 4:
  print("At least one of the statements is true")

In [ ]:
Lists

In [ ]:
Example

In [ ]:
mylist = ["apple", "banana", "cherry"]

In [ ]:
Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [ ]:
Exercise

In [ ]:
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
print(mylist[1])
#banana

In [ ]:
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'banana', 'cherry']
print(mylist[2])
#banana

In [ ]:
#True or False.
#List items cannot be removed after the list has been created.
#False

In [ ]:
Select the correct function for returning the number of items in a list:
thislist = ['apple', 'banana', 'cherry']
print(len(thislist))

In [ ]:
Access List

In [ ]:
Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
Exercise

In [ ]:
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
print(mylist[-1])
#Cherry

In [ ]:
#Print the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

In [ ]:
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry', 'orange', 'kiwi']
print(mylist[1:4])
#['banana', 'cherry', 'orange']

In [ ]:
Use a range of indexes to print the third, fourth, and fifth item in the list.
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

In [ ]:
Change List

In [ ]:
Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
Exercise

In [ ]:
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1])
#Banana

In [ ]:
#Change the value from "apple" to "kiwi", in the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"

In [ ]:
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist[1:2] = ['kiwi', 'mango']
print(mylist[2])
#mango

In [ ]:
Add List

In [ ]:
Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

In [ ]:
Exercise

In [ ]:
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist.insert(0, 'orange')
print(mylist[1])
#apple

In [ ]:
#Use the append method to add "orange" to the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")

In [ ]:
#Use the insert method to add "lemon" as the second item in the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")

In [ ]:
#Select the missing parts to add the elements of tropical to fruits:
fruits = ['apple', 'banana', 'cherry']
tropical = ['mango', 'pineapple', 'papaya']
fruits.extend(tropical)

In [ ]:
Remove List

In [ ]:
Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

In [ ]:
Exercise

In [ ]:
#What is a List method for removing list items?
pop()

In [ ]:
#Use the remove method to remove "banana" from the fruits list.
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")

In [3]:
#What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist.pop(1)
print(mylist)
#['apple', 'cherry']

['apple', 'cherry']

In [ ]:
#Select the correct function to remove all items from a list:
fruits = ['apple', 'banana', 'cherry']
fruits.clear()

In [ ]:
Loop Lists

In [ ]:
Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for looping through the items of a list?
for x in ['apple', 'banana', 'cherry']:
  print(x)

In [ ]:
#Insert the missing part of the while loop below to loop through the items of a list.
mylist = ['apple', 'banana', 'cherry']
i = 0 
while i < len(mylist):
  print(mylist[i])
  i = i + 1

In [ ]:
#What is a correct syntax for looping through the items of a list?
[print(x) for x in ['apple', 'banana', 'cherry']]

In [ ]:
List Comprehension

In [ ]:
Example

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

In [ ]:
newlist = [x for x in fruits if x != "apple"]

In [ ]:
newlist = [x for x in fruits]

In [ ]:
newlist = [x for x in range(10)]

In [ ]:
newlist = [x for x in range(10) if x < 5]

In [ ]:
newlist = [x.upper() for x in fruits]

In [ ]:
newlist = ['hello' for x in fruits]

In [ ]:
newlist = [x if x != "banana" else "orange" for x in fruits]

In [ ]:
Exercise

In [5]:
#Consider the following code:
fruits = ['apple', 'banana', 'cherry']
newlist = [x for x in fruits if x == 'banana']
#What will be the value of newlist?
#['banana']

In [ ]:
#Fill in the missing parts to complete the list comprehension:
fruits = ["apple", "banana", "cherry"]
newlist = [x for x in fruits]

In [ ]:
#Consider the following code:
fruits = ['apple', 'banana', 'cherry']
newlist = ['apple' for x in fruits]
#What will be the value of newlist?
#['apple', 'apple', 'apple']

In [ ]:
Sort Lists

In [ ]:
Example

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for sorting a list?
mylist.sort()

In [ ]:
#What is a correct syntax for reversing the current order of a list?
mylist.reverse()

In [ ]:
#What is a correct syntax for sorting a list descending?
mylist.sort(reverse = True)

In [ ]:
Copy Lists

In [ ]:
Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

In [ ]:
Exercise

In [ ]:
list2 = list1.copy()

In [ ]:
#What is a correct syntax for making a copy of a list?
list2 = list(list1)

In [ ]:
#What is a correct syntax for making a copy of a list?
list2 = list1[:]

In [ ]:
Join Lists

In [ ]:
Example

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for joining list1 and list2 into list3?
list3 = list1 + list2

In [ ]:
#What is a correct syntax for adding elements from list2 into list1?
list1.extend(list2)

In [ ]:
#Consider the following code:
list1 = ['a', 'b' , 'c']
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
#What will be the value of list1?
#['a', 'b', 'c', 1, 2, 3]

List Methods

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [ ]:
Tuples

In [ ]:
Example

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

In [ ]:
Exercise

In [ ]:
#Which one of these is a tuple?
thistuple = ('apple', 'banana', 'cherry')

In [ ]:
#Use the correct syntax to print the number of items in the fruits tuple.
fruits = ("apple", "banana", "cherry")
print(len(fruits))

In [ ]:
#True or False.
#Tuple items cannot be removed after the tuple has been created.
#True

In [ ]:
Access Tuple

In [ ]:
Example

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

In [ ]:
Exercise

In [ ]:
#You can access tuple items by referring to the index number, but what is the index number of the first item?
#0

In [ ]:
#Use the correct syntax to print the first item in the fruits tuple.
fruits = ("apple", "banana", "cherry")
print(fruits[0])

In [ ]:
#Use negative indexing to print the last item in the tuple.
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

In [ ]:
#Use a range of indexes to print the third, fourth, and fifth item in the tuple.
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

In [ ]:
Update Tuples

In [ ]:
Example

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

In [ ]:
Exercise

In [ ]:
#You cannot change the items of a tuple, but there are workarounds. Which of the following suggestion will work?
#Convert tuple into a list, change item, convert back into a tuple.

In [ ]:
#Which is a correct syntax to delete a tuple?
del mytuple

In [ ]:
#True or False. You are allowed to add a tuple to an existing tuple.
True

In [ ]:
Unpack Tuples

In [ ]:
Example

In [ ]:
fruits = ("apple", "banana", "cherry")

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

In [ ]:
Exercise

In [ ]:
#Consider the following code:
fruits = ('apple', 'banana', 'cherry')
(x, y, z) = fruits
print(y)
#What will be the value of y?
#banana

In [ ]:
#Consider the following code:
fruits = ('apple', 'banana', 'cherry')
(x, *y) = fruits
print(y)
#What will be the value of y?
#['banana', 'cherry']

In [ ]:
#Consider the following code:
fruits = ('apple', 'banana', 'cherry', 'mango')
(x, *y, z) = fruits
print(y)
#What will be the value of y?
#['banana', 'cherry']

In [ ]:
Loop Tuples

In [ ]:
Example

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for looping through the items of a tuple?
for x in ('apple', 'banana', 'cherry'):
  print(x)

In [ ]:
#Insert the missing part of the while loop below to loop through the items of a tuple.
mytuple = ('apple', 'banana', 'cherry')
i = 0
while i < len(mytuple):
  print(mytuple[i])
  i = i + 1

In [ ]:
#Insert the missing part of the for loop below to loop through the items of a tuple by using the range function to loop through the tuple's index numbers.
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

In [ ]:
Join Tuples

In [ ]:
Example

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for joining tuple1 and tuple2 into tuple3?
tuple3 = tuple1 + tuple2

In [ ]:
#What is a legal way to turn this tuple: (1,2,3) into this tuple:(1,2,3,1,2,3)?
tuple1 = (1,2,3)
tuple1 = tuple1 * 2

In [ ]:
#Consider the following code:
tuple1 = ('a', 'b' , 'c')
tuple2 = (1, 2, 3)
tuple3 = tuple2 + tuple1
#What will be the value of tuple3?
(1, 2, 3, 'a', 'b', 'c')

In [ ]:
Tuple Methods

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
Sets

In [ ]:
Example

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

In [ ]:
Exercise

In [ ]:
myset = {'apple', 'banana', 'cherry'}

In [ ]:
#True or False.
#Set items cannot be removed after the set has been created.
False

In [ ]:
#True or False.
#A set cannot have two items with the same value.
True

In [ ]:
#Select the correct function for returning the number of items in a set:
fruits = {'apple', 'banana', 'cherry'}
print((fruits))

In [ ]:
Access Set

In [ ]:
Example

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

In [ ]:
Exercise

In [ ]:
#True or False. You can access set items by referring to the index.
False

In [ ]:
#Check if "apple" is present in the fruits set.
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

In [ ]:
#Consider the following code:
thisset = {'apple', 'banana', 'cherry'}
print('banana' not in thisset)
#What will be the printed result?
False

In [ ]:
Add Set

In [ ]:
Example

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for adding items to a set?
add()

In [ ]:
#Use the add method to add "orange" to the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")

In [ ]:
#Use the correct method to add multiple items (more_fruits) to the fruits set.
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)

In [ ]:
Remove Set

In [ ]:
Example

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for removing an item from a set?
remove()

In [ ]:
#Use the remove method to remove "banana" from the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")

In [ ]:
#Use the discard method to remove "banana" from the fruits set.
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")

In [ ]:
#Select the correct function to remove all items from a set:
fruits = {'apple', 'banana', 'cherry'}
fruits.clear()

In [ ]:
Loop Sets

In [ ]:
Example

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for looping through the items of a set?
for x in {'apple', 'banana', 'cherry'}:
  print(x)

In [ ]:
#Insert the missing part of the for loop below to loop through the items of a set.
myset = {'apple', 'banana', 'cherry'}
for x in myset:
  print(x)

In [ ]:
#True or False. Sets are unordered, so when you loop through the items, the order will be totally random.
True

In [ ]:
Join Sets

In [ ]:
Example

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

In [ ]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for joining set1 and set2 into set3?
set3 = set1.union(set2)

In [ ]:
#What is a correct syntax for joining multiple sets into one new set called set5?
set5 = set1 | set2 | set3 | set4

In [ ]:
#There are many ways to join sets in Python. Which one of the following methods keeps ONLY the duplicates?
intersection()

In [ ]:
Set Methods

Method	Shortcut	Description
add()	 	Adds an element to the set
clear()	 	Removes all the elements from the set
copy()	 	Returns a copy of the set
difference()	-	Returns a set containing the difference between two or more sets
difference_update()	-=	Removes the items in this set that are also included in another, specified set
discard()	 	Remove the specified item
intersection()	&	Returns a set, that is the intersection of two other sets
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	Returns whether two sets have a intersection or not
issubset()	<=	Returns whether another set contains this set or not
 	<	Returns whether all items in this set is present in other, specified set(s)
issuperset()	>=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set
pop()	 	Removes an element from the set
remove()	 	Removes the specified element
symmetric_difference()	^	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
union()	|	Return a set containing the union of sets
update()	|=	Update the set with the union of this set and others

In [ ]:
Dictionaries

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
Example

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

In [ ]:
print(len(thisdict))

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

In [ ]:
Exercise

In [ ]:
#Which one of these is a dictionary?
x = {'type' : 'fruit', 'name' : 'banana'}

In [ ]:
True or False.
Dictionary items cannot be removed after the dictionary has been created.
False

In [ ]:
True or False.
A dictionary cannot have two keys with the same name.
True

In [ ]:
#Select the correct function to print the number of key/value pairs in the dictionary:
x = {'type' : 'fruit', 'name' : 'banana'}
print((x))

In [ ]:
Access Dictionary

In [ ]:
Example

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [ ]:
x = thisdict.get("model")

In [ ]:
x = thisdict.keys()

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

In [ ]:
x = thisdict.values()

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

In [ ]:
x = thisdict.items()

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

In [ ]:
Exercise

In [ ]:
#True or False. You can access item values by referring to the key name.
True

In [ ]:
#Use the get method to print the value of the "model" key of the car dictionary.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car.get("model"))

In [ ]:
#Consider the following code:
x = {'type' : 'fruit', 'name' : 'banana'}
print(x['type'])
#What will be the printed result?
fruit

In [ ]:
Change Dictionary

In [ ]:
Example

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [ ]:
Exercise

In [ ]:
#Consider the following code:
x = {'type' : 'fruit', 'name' : 'banana'}
#What is a correct syntax for changing the type from fruit to berry?
x['type'] = 'berry'

In [ ]:
#Change the "year" value from 1964 to 2020.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["year"] = 2020

In [ ]:
#Consider the following code:
x = {'type' : 'fruit', 'name' : 'banana'}
#What is a correct syntax for changing the name from banana to apple?
x.update({'name': 'apple'})

In [ ]:
Add Dictionary

In [ ]:
Example

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [ ]:
Exercise

In [ ]:
#Which one of these dictionary methods can be used to add items to a dictionary?
update()

In [ ]:
#Add the key/value pair "color" : "red" to the car dictionary.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"]="red"

In [ ]:
#Insert the missing part to add an item to the dictionary.
x = {'type' : 'fruit', 'name' : 'apple'}
x.update({'color' : 'green'})

In [ ]:
Remove Dictionary

In [ ]:
Example

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
Bad Example

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [ ]:
Example

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [ ]:
Exercise

In [ ]:
#What is a dictionary method for removing an item from a dictionary?
pop()

In [ ]:
#Use the pop method to remove "model" from the car dictionary.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")

In [ ]:
Use the clear method to empty the car dictionary.
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()

In [ ]:
Insert a correct syntax for removing the 'color' item of the dictionary:

myvar = {'type' : 'fruit', 'name' : 'apple', 'color' : 'red'}
del myvar["color"]

In [ ]:
Loop Dictionaries

In [ ]:
Example

In [ ]:
for x in thisdict:
  print(x)

In [ ]:
for x in thisdict:
  print(thisdict[x])

In [ ]:
for x in thisdict.values():
  print(x)

In [ ]:
for x in thisdict.keys():
  print(x)

In [ ]:
for x, y in thisdict.items():
  print(x, y)

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for looping through the values of this dictionary:
x = {'type' : 'fruit', 'name' : 'apple'}

for y in x.values():
  print(y)

In [ ]:
#What is a correct syntax for looping through the keys AND values of this dictionary:
x = {'type' : 'fruit', 'name' : 'apple'}

for y, z in x.items():
  print(y, z)

In [ ]:
#Insert the missing part of the for loop below to loop through the items of a set.

myset = {'apple', 'banana', 'cherry'}
for x in myset:
  print(x)

In [ ]:
#What is a correct syntax for looping through the keys of this dictionary:
x = {'type' : 'fruit', 'name' : 'apple'}

for y in x.keys():
  print(y)

In [ ]:
Copy Dictionaries

In [ ]:
Example

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

In [ ]:
Exercise

In [ ]:
#What is a correct syntax for making a copy of this dictionary:
x = {'type' : 'fruit', 'name' : 'apple'}

y = x.copy()

In [ ]:
#One of these codes is NOT a correct way of making a copy of a dictionary named x, which one:

y = x.duplicate()

In [ ]:
True or False. Copied dictionaries will not be able to change its item values.
False

In [ ]:
Nested Dictionaries

In [ ]:
Example

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [ ]:
print(myfamily["child2"]["name"])

In [ ]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

In [ ]:
Exercise

In [ ]:
#Consider this syntax:
a = {'name' : 'John', 'age' : '20'}
b = {'name' : 'May', 'age' : '23'}
customers = {'c1' : a, 'c2' : b}
#what will be a correct syntax for printing the name 'May'?
print(customers['c2']['name'])

In [ ]:
#Insert the missing part to loop through the keys and values of all nested dictionaries:

a = {'name' : 'John', 'age' : 20}
b = {'name' : 'May', 'age' : 23}
customers = {'c1' : a, 'c2' : b}
for x, obj in customers.items():
  print(x)
    
  for y in obj:
    print(y + ':', obj[y])

In [ ]:
True or False. A dictionary can only have one level of nested dictionaries.
False

In [ ]:
Dictionary Methods

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [ ]:
Python If ... Else

In [ ]:
Example

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
Bad Example

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

In [ ]:
Example

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
if a > b: print("a is greater than b")

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

In [ ]:
a = 33
b = 200

if b > a:
  pass

In [ ]:
Exercise

In [ ]:
#What will be the result of the following code:
x = 5
y = 8
if x > y:
  print('Hello')
else:
  print('Welcome')
#Welcome

In [ ]:
#Print "Hello World" if a is greater than b.
a = 50
b = 10
if a > b:
  print("Hello World")

In [ ]:
#Print "Hello World" if a is not equal to b.
a = 50
b = 10
if a != b:
  print("Hello World")

In [ ]:
#Print "Yes" if a is equal to b, otherwise print "No".
a = 50
b = 10
if a == b:
  print("Yes")
else:
  print("No")

In [ ]:
#Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".
a = 50
b = 10
if a == b:
  print("1")
elif a > b:
  print("2")
else:
  print("3")

In [ ]:
#Print "Hello" if a is equal to b, and c is equal to d.
if a == b and c == d:
  print("Hello")

In [ ]:
#Print "Hello" if a is equal to b, or if c is equal to d.
if a == b or c == d:
  print("Hello")

In [ ]:
#Use the correct one line short hand syntax to print "YES" if a is equal to b, otherwise print("NO").
a = 2
b = 5
print("YES") if a == b else print("NO")

In [ ]:
While Loops

In [ ]:
Example

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

In [ ]:
Exercise

In [ ]:
#Which statement is a correct syntax to break out of a loop?
break

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
#Stop the loop if i is 3.
i = 1
while i < 6:
  if i == 3:    
    break
  i += 1

In [ ]:
#In the loop, when i is 3, jump directly to the next iteration.
i = 0
while i < 6:
  i += 1
  if i == 3: 
    continue
  print(i)

In [ ]:
#Print a message once the condition is false.
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

In [ ]:
For Loops

In [ ]:
Example

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
for x in "banana":
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
for x in range(6):
  print(x)

In [ ]:
for x in range(2, 6):
  print(x)

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")
#Yeah, im finally close to finish this lab

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
Exercise

In [ ]:
#What will be the result of the following code:
for x in range(3):
  print(x)
#0
#1
#2

In [ ]:
#Loop through the items in the fruits list.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
#In the loop, when the item value is "banana", jump directly to the next item.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":    
    continue
  print(x)

In [ ]:
#Use the range function to loop through a code set 6 times.
for x in range(6):
  print(x)

In [ ]:
#Exit the loop when x is "banana".
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)